* {
  box-sizing: border-box;
  font-family: "Roboto", arial, sans-serif;
  margin: 0;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
img {
  width: 100px;
  display: inline;
  margin: 20px;
  vertical-align: top;
}
input {
  display: inline;
  width: 620px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgb(190, 190, 190);
  vertical-align: top;
}
.Container {
  display: block;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.searchOptions {
  display: inline;
  float: right;
  padding: 20px;
  margin-top: 0px;
}
.accountOptions li {
  padding: 20px;
}
.signIn {
  display: inline;
  border-radius: 3px;
  border: none;
  padding: 10px;
  width: 70px;
  color: white;
  background: #3c7ae4;
  font-weight: bold;
}
.searchTools {
  margin-top: 20px;
  width: 620px;
  display: inline-block;
  vertical-align: bottom;
}
.searchToolOptions {
  font-size: 13px;
  margin-top: 30px;
}
.left {
  float: left;
  margin-right: 10px;
  margin-left: 0px;
}

.right {
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}
.searchToolOptions li {
  padding: 10px;
}

.active {
  font-weight: bold;
  border-bottom: 3px solid #1833ae;
}
.active a {
  color: #1a73e8 !important;
}
.searchResults {
  width: auto;
  display: inline-block;
  margin-bottom: 8px;
}

.result {
  margin: 20px 0 20px 0;
}

.numberOfResults {
  margin-top: 15px;
  color: rgb(150, 150, 150);
}
a {
  text-decoration: none;
  color: rgb(48, 48, 48);
}
.content {
  color: #4d5156;
  line-height: 1.58;
  font-size: 14px;
  font-weight: normal;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: arial, sans-serif;
  color: #202124;
  font-family: arial, sans-serif;
  height: fit-content;
}

.main-body1 {
  font-family: arial, sans-serif;
  color: #202124;
  margin-left: 50px;
}

div {
  line-height: 0.5em;
}

.main-container {
  margin-left: clamp(5rem, 5vw, 8rem);
  width: auto;
}

.result-section {
  margin-block: 20px;
  /*margin: 20px;*/
}

.urllink a {
  color: #5f6368;
  line-height: 1.3;
  text-decoration: none;
}
.PASH {
  color: #202124;
  display: block;
  line-height: 28px;
  font-size: 22px;
  font-family: Google Sans, arial, sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
}
.PAS {
  display: block;
  color: #4d5156;
  width: 620px;
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
}
.date {
  color: #70757a;
}

h3 a {
  color: #681da8;
  text-decoration: none;
}

h3 a:hover {
  color: #681da8;
  text-decoration: underline;
}

.headerlink {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  display: inline-block;
}

strong {
  color: #5f6368;
}

.description {
  color: #4d5156;
  line-height: 1.58;
}

.description3 {
  color: #4d5156;
  line-height: 1.58;
  margin-bottom: 8px;
}
.footer {
  display: block;
  height: fit-content;
  /* line-height: 40px; */
  font-size: 14px;
  font-family: arial, sans-serif;
  background-color: #f2f2f2;
  align-items: center;
  margin-left: -27px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-inline: 20px;
}

.upper-footer {
  height: fit-content;
  color: #70757a;
  border-top: 14px;
  padding-left: 27px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.together {
  display: inline-block;
}

.country {
  font-size: 15px;
  margin-left: 27px;
  padding-top: 3px;
  color: #70757a;
  /* vertical-align: middle; */
}
.current-l {
  display: inline-block;
  /* margin-bottom: 30%; */
  margin-left: 8.5%;
  border-left: 1px solid grey;
  text-decoration: none;
  line-height: 60px;
  font-family: arial, sans-serif;
  color: #1a0dab;
}

/* .current-l, .stg{
    margin-right: %;
} */

.current-l:hover {
  color: rgb(86, 86, 207);
}
.stg {
  margin-left: 8px;
}

.location {
  /* padding-bottom: 100%; */
  margin-left: var(--center-abs-margin);
  color: grey;
  display: flex;
  align-items: center;
  flex: 1;
}
.lower-footer {
  /* height: 50%; */
  border-top: solid 1px grey;
  padding: 1.5rem 0;
}

.lower-footer a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-left: 40px;
  color: #70757a;
  background-color: #f2f2f2;
  padding-left: 27px;
  font-family: arial, sans-serif;
}

a:hover {
  color: rgb(98, 96, 96);
}
